In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.read_csv('update.csv')
dataset = df.copy()

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7442 entries, 0 to 7441
Data columns (total 7 columns):
Unnamed: 0         7442 non-null int64
restaurant_name    7442 non-null object
Location           7442 non-null object
Cuisine            7442 non-null object
Price for 2        7442 non-null int64
Ratings            4807 non-null float64
Votes              4803 non-null float64
dtypes: float64(2), int64(2), object(3)
memory usage: 407.1+ KB

In [3]:
df.head()

,Unnamed: 0,restaurant_name,Location,Cuisine,Price for 2,Ratings,Votes
0,0,The Black Pearl,Sholinganallur,"North Indian, European, Mediterranean, Contine...",1500,4.9,2857.0
1,1,Coal Barbecues,T. Nagar,"North Indian, Mediterranean, Asian, Arabian, BBQ",1400,4.9,7320.0
2,2,Palmshore,Medavakkam,"North Indian, Chinese, Arabian",700,4.5,441.0
3,3,Fromage,MRC Nagar,"Cafe, Italian, French, European",1000,4.5,1073.0
4,4,Savoury Sea Shell,Anna Nagar East,"Arabian, Chinese, North Indian, Lebanese, Salad",1400,4.1,2446.0

In [4]:
df['Ratings'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
7437     True
7438     True
7439     True
7440     True
7441     True
Name: Ratings, Length: 7442, dtype: bool

In [5]:
missing_values = ["invalid"]
df = pd.read_csv("update.csv", na_values = missing_values)
df.isnull().sum()

Unnamed: 0            0
restaurant_name       0
Location              0
Cuisine               0
Price for 2           0
Ratings            2635
Votes              2639
dtype: int64

In [6]:
df.isnull().sum().sum()

5274

In [7]:
df.dropna()

,Unnamed: 0,restaurant_name,Location,Cuisine,Price for 2,Ratings,Votes
0,0,The Black Pearl,Sholinganallur,"North Indian, European, Mediterranean, Contine...",1500,4.9,2857.0
1,1,Coal Barbecues,T. Nagar,"North Indian, Mediterranean, Asian, Arabian, BBQ",1400,4.9,7320.0
2,2,Palmshore,Medavakkam,"North Indian, Chinese, Arabian",700,4.5,441.0
3,3,Fromage,MRC Nagar,"Cafe, Italian, French, European",1000,4.5,1073.0
4,4,Savoury Sea Shell,Anna Nagar East,"Arabian, Chinese, North Indian, Lebanese, Salad",1400,4.1,2446.0
...,...,...,...,...,...,...,...
5462,5462,Chitra's Chat and Eat,Madhavaram,"North Indian, South Indian",150,3.0,4.0
5466,5466,S.P Biriyani & Fast Food,Anna Nagar West,Biryani,250,3.1,4.0
5467,5467,Hotel Manigandan,Tiruvottiyur,"South Indian, Chinese, Biryani",400,3.0,4.0
5485,5485,Happy Fast Food,Saidapet,"Chettinad, Chinese",250,3.0,4.0
5614,5614,Chimney Roof Top,Kodambakkam,"North Indian, South Indian, Chinese",800,3.0,2.0

In [8]:
len(df['Location'].value_counts())

130

ValueError: Plot kind 'Count' is not recognized